<div class="container container1 my-5">
    <div class="card1 card">
        <div class="card-body">
            <div class="circle"></div>
            <header class="myHed text-center">
                <p>SIGN IN</p>
            </header>
            <form class="main-form text-center" #utilisateurForm="ngForm" (ngSubmit)="onLogin()">
                <div class="form-group my-3">
                    <label class="my-0">
                        <input type="text" class="myInput" name="username" ngModule [(ngModel)]="utilsateur.username" placeholder="Username"> 
                    </label>
                </div>
                <div class="form-group my-3">
                    <label class="my-0">
                        <input type="password" class="myInput" name="password" ngModule [(ngModel)]="utilsateur.password" placeholder="Password"> 
                    </label>
                </div>
                <div class="form-group">
                    <label> 
                        <input type="submit" class="form-control button button1  mt-3" value="SIGN IN"> 
                    </label>
                </div>

                <div class="form-group my-3" *ngIf="msgerror">
                    <label> 
                        <p class="text-danger">{{msgerror}}</p>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
